<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A.ordn</key>
		<integer>-45</integer>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_V</key>
		<integer>-140</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-110</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-65</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-110</integer>
		<key>@MMK_R_uni018F</key>
		<integer>-20</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-100</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>bullet</key>
		<integer>-55</integer>
		<key>dagger</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-35</integer>
		<key>uni0431</key>
		<integer>-25</integer>
		<key>uni0462</key>
		<integer>-60</integer>
		<key>uni0470</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-15</integer>
		<key>Yusbig-cy</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_uni0424</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Cheabkhasian-cy</key>
	<dict>
		<key>Yusbig-cy</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_m</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Gamma</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0394</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-15</integer>
		<key>uni0431</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>uni0470</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_AE</key>
		<integer>-65</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_X</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_slash</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>Yusbig-cy</key>
		<integer>-50</integer>
		<key>uni0470</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_AE</key>
		<integer>-95</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-60</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-25</integer>
		<key>Yusbig-cy</key>
		<integer>-40</integer>
		<key>ampersand</key>
		<integer>-25</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-115</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-15</integer>
		<key>Yusbig-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Shha-cy</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-110</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-70</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-85</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>uni0462</key>
		<integer>-70</integer>
		<key>uni0470</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_AE</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-105</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-110</integer>
		<key>@MMK_R_colon</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_n</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-105</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-90</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-110</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-20</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-95</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-110</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-95</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-80</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_z</key>
		<integer>-100</integer>
		<key>ampersand</key>
		<integer>-40</integer>
		<key>bullet</key>
		<integer>-55</integer>
		<key>enlefthook-cy</key>
		<integer>-90</integer>
		<key>gestrokehook-cy</key>
		<integer>-60</integer>
		<key>guillemotleft</key>
		<integer>-90</integer>
		<key>guillemotright</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>periodcentered</key>
		<integer>-90</integer>
		<key>uni0431</key>
		<integer>-35</integer>
		<key>yusbig-cy</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_Tau</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_Upsilontonos</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_AE</key>
		<integer>-160</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-70</integer>
		<key>@MMK_R_colon</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-30</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-110</integer>
		<key>@MMK_R_slash</key>
		<integer>-115</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0186</key>
		<integer>-20</integer>
		<key>@MMK_R_uni018F</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0190</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-90</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-100</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-70</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-125</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_x</key>
		<integer>-110</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_z</key>
		<integer>-90</integer>
		<key>ampersand</key>
		<integer>-90</integer>
		<key>bullet</key>
		<integer>-55</integer>
		<key>enlefthook-cy</key>
		<integer>-90</integer>
		<key>gestrokehook-cy</key>
		<integer>-60</integer>
		<key>guillemotleft</key>
		<integer>-130</integer>
		<key>guillemotright</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>periodcentered</key>
		<integer>-90</integer>
		<key>uni0431</key>
		<integer>-55</integer>
		<key>yusbig-cy</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_uni018F</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-50</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>bullet</key>
		<integer>-90</integer>
		<key>guillemotleft</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-60</integer>
		<key>uni0431</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_AE</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_m</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_slash</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-70</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-50</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-70</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-65</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>enlefthook-cy</key>
		<integer>-50</integer>
		<key>guillemotleft</key>
		<integer>-100</integer>
		<key>guillemotright</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>periodcentered</key>
		<integer>-80</integer>
		<key>uni0431</key>
		<integer>-35</integer>
		<key>yusbig-cy</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-45</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-25</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-10</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-80</integer>
		<key>trademark</key>
		<integer>-50</integer>
		<key>uni0431</key>
		<integer>-15</integer>
		<key>uni04E1</key>
		<integer>-20</integer>
		<key>yusbig-cy</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-10</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-10</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-60</integer>
		<key>uni04E1</key>
		<integer>-25</integer>
		<key>yusbig-cy</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-110</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-140</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>uni0431</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-40</integer>
		<key>yusbig-cy</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_b</key>
		<integer>70</integer>
		<key>@MMK_R_eth</key>
		<integer>70</integer>
		<key>@MMK_R_i</key>
		<integer>70</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>120</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_y</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_longs</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>165</integer>
		<key>@MMK_R_exclam</key>
		<integer>135</integer>
		<key>@MMK_R_parenright</key>
		<integer>195</integer>
		<key>@MMK_R_question</key>
		<integer>140</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>160</integer>
		<key>@MMK_R_quoteright</key>
		<integer>165</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-25</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-55</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-25</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-10</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-80</integer>
		<key>guillemotright</key>
		<integer>-25</integer>
		<key>uni04E1</key>
		<integer>-15</integer>
		<key>yusbig-cy</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_o</key>
		<integer>-56</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-80</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_m</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-20</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-90</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-35</integer>
		<key>@MMK_R_five</key>
		<integer>-95</integer>
		<key>@MMK_R_four</key>
		<integer>-115</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_nine</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_one</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_three</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-60</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-90</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-35</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-45</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-45</integer>
		<key>uni0431</key>
		<integer>-30</integer>
		<key>yusbig-cy</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_uni01B7</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-15</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_uni025C</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-10</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-5</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>yusbig-cy</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni0283</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>80</integer>
		<key>@MMK_R_eth</key>
		<integer>80</integer>
		<key>@MMK_R_i</key>
		<integer>55</integer>
	</dict>
	<key>@MMK_L_uni0292</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-15</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_uni02BE</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_uni0402</key>
	<dict>
		<key>@MMK_R_uni0427</key>
		<integer>-40</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-60</integer>
		<key>uni0470</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni0413</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_AE</key>
		<integer>-90</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-110</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>-110</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-100</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-35</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-140</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-105</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-105</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-115</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-120</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-110</integer>
		<key>@MMK_R_z</key>
		<integer>-100</integer>
		<key>ampersand</key>
		<integer>-35</integer>
		<key>bullet</key>
		<integer>-35</integer>
		<key>enlefthook-cy</key>
		<integer>-90</integer>
		<key>guillemotleft</key>
		<integer>-70</integer>
		<key>guillemotright</key>
		<integer>-90</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>periodcentered</key>
		<integer>-90</integer>
		<key>uni0458</key>
		<integer>-20</integer>
		<key>yusbig-cy</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_uni041A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0190</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-45</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-45</integer>
		<key>uni0431</key>
		<integer>-35</integer>
		<key>uni0462</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_uni0424</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_AE</key>
		<integer>-80</integer>
		<key>@MMK_R_M</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-30</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-35</integer>
		<key>Yusbig-cy</key>
		<integer>-65</integer>
		<key>uni0470</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni042C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_AE</key>
		<integer>-20</integer>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_Kastroke-cy</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-90</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-70</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-60</integer>
		<key>uni0462</key>
		<integer>-60</integer>
		<key>uni0470</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_uni0433</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-45</integer>
		<key>@MMK_R_slash</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-10</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni0438</key>
	<dict>
		<key>backslash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_uni043A</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni043C</key>
	<dict>
		<key>backslash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_uni0442</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-45</integer>
		<key>@MMK_R_slash</key>
		<integer>-25</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni044C</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-55</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-65</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>enlefthook-cy</key>
		<integer>-15</integer>
		<key>uni04E1</key>
		<integer>-45</integer>
		<key>yusbig-cy</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_uni0452</key>
	<dict>
		<key>@MMK_R_uni0434</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>yusbig-cy</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_uni0462</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-55</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_uni0463</key>
	<dict>
		<key>@MMK_R_uni0442</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-45</integer>
		<key>yusbig-cy</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_uni0475</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>5</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_slash</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0442</key>
		<integer>20</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-15</integer>
		<key>guillemotleft</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_uni1E9D.short</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>125</integer>
		<key>@MMK_R_exclam</key>
		<integer>95</integer>
		<key>@MMK_R_parenright</key>
		<integer>150</integer>
		<key>@MMK_R_question</key>
		<integer>90</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>110</integer>
		<key>@MMK_R_quoteright</key>
		<integer>115</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_slash</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-15</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-25</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-80</integer>
	</dict>
	<key>Haabkhasian-cy</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
	</dict>
	<key>Hahook-cy</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-85</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-20</integer>
		<key>@MMK_R_uni043C</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>uni0431</key>
		<integer>-45</integer>
	</dict>
	<key>Kahook-cy</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
	</dict>
	<key>Pemiddlehook-cy</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_Kastroke-cy</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-75</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-70</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>uni0462</key>
		<integer>-35</integer>
		<key>uni0470</key>
		<integer>-60</integer>
	</dict>
	<key>Yusbig-cy</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-35</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-25</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_uni018F</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-45</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>bullet</key>
		<integer>-65</integer>
		<key>dagger</key>
		<integer>-35</integer>
		<key>guillemotleft</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-45</integer>
		<key>uni0431</key>
		<integer>-25</integer>
		<key>uni0470</key>
		<integer>-25</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-25</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-80</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-60</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-55</integer>
		<key>Yusbig-cy</key>
		<integer>-25</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-140</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-130</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>uni0462</key>
		<integer>-40</integer>
		<key>uni0470</key>
		<integer>-120</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>-55</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_X</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-35</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-30</integer>
		<key>Yusbig-cy</key>
		<integer>-65</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-35</integer>
	</dict>
	<key>dagger</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-25</integer>
		<key>Yusbig-cy</key>
		<integer>-35</integer>
	</dict>
	<key>elhook-cy</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
	<key>ghemiddlehook-cy</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>guillemotleft</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-45</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-65</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-45</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-45</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>Yusbig-cy</key>
		<integer>-50</integer>
	</dict>
	<key>haabkhasian-cy</key>
	<dict>
		<key>@MMK_R_quoteleft</key>
		<integer>-35</integer>
		<key>@MMK_R_uni025B</key>
		<integer>20</integer>
		<key>@MMK_R_uni0434</key>
		<integer>5</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-90</integer>
	</dict>
	<key>hahook-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-10</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_X</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-45</integer>
		<key>Yusbig-cy</key>
		<integer>-35</integer>
	</dict>
	<key>kahook-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_uni0434</key>
		<integer>20</integer>
		<key>@MMK_R_uni044F</key>
		<integer>5</integer>
	</dict>
	<key>paragraph</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-45</integer>
		<key>@MMK_R_s</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-45</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-45</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-45</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-45</integer>
		<key>yusbig-cy</key>
		<integer>-55</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-30</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-45</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-45</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-25</integer>
		<key>Yusbig-cy</key>
		<integer>-45</integer>
		<key>yusbig-cy</key>
		<integer>-25</integer>
	</dict>
	<key>uni0402</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-55</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_uni0423</key>
		<integer>-35</integer>
		<key>@MMK_R_uni0427</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-40</integer>
	</dict>
	<key>uni040B</key>
	<dict>
		<key>@MMK_R_Cheabkhasian-cy</key>
		<integer>-45</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042A</key>
		<integer>-40</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>uni0431</key>
		<integer>-25</integer>
		<key>uni0470</key>
		<integer>-45</integer>
	</dict>
	<key>uni0411</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_AE</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-15</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0416</key>
		<integer>-15</integer>
	</dict>
	<key>uni0470</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_cheabkhasian-cy</key>
		<integer>-90</integer>
		<key>@MMK_R_j</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-110</integer>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
		<key>@MMK_R_s</key>
		<integer>-110</integer>
		<key>@MMK_R_slash</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0259</key>
		<integer>-110</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-90</integer>
		<key>@MMK_R_uni0414</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0424</key>
		<integer>-25</integer>
		<key>@MMK_R_uni042F</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-120</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-55</integer>
		<key>@MMK_R_uni044F</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0463</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-90</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-90</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>Yusbig-cy</key>
		<integer>-25</integer>
		<key>enlefthook-cy</key>
		<integer>-45</integer>
		<key>uni0431</key>
		<integer>-25</integer>
		<key>yusbig-cy</key>
		<integer>-110</integer>
	</dict>
	<key>uni0491</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_slash</key>
		<integer>-25</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-25</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-20</integer>
	</dict>
	<key>yusbig-cy</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_uni025B</key>
		<integer>-20</integer>
		<key>@MMK_R_uni0430</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>periodcentered</key>
		<integer>-25</integer>
	</dict>
</dict>
</plist>
