<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0245</string>
	</array>
	<key>@MMK_L_A.sc</key>
	<array>
		<string>A.sc</string>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_L_C.sc</key>
	<array>
		<string>C.sc</string>
		<string>c.sc</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>uni018F</string>
		<string>uni0186</string>
		<string>uni019F</string>
		<string>uni01B2</string>
	</array>
	<key>@MMK_L_D.sc</key>
	<array>
		<string>D.sc</string>
		<string>Eth.sc</string>
		<string>O.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>o.sc</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni0246</string>
		<string>uni1EBC</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>uni0191</string>
	</array>
	<key>@MMK_L_F.sc</key>
	<array>
		<string>F.sc</string>
		<string>f.sc</string>
	</array>
	<key>@MMK_L_Gamma</key>
	<array>
		<string>Gamma</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_L.sc</key>
	<array>
		<string>L.sc</string>
		<string>l.sc</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_L_R.sc</key>
	<array>
		<string>R.sc</string>
		<string>r.sc</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni01AC</string>
		<string>uni01AE</string>
		<string>uni023E</string>
	</array>
	<key>@MMK_L_T.sc</key>
	<array>
		<string>T.sc</string>
		<string>t.sc</string>
	</array>
	<key>@MMK_L_Tau</key>
	<array>
		<string>Tau</string>
	</array>
	<key>@MMK_L_U.sc</key>
	<array>
		<string>U.sc</string>
		<string>u.sc</string>
	</array>
	<key>@MMK_L_Upsilontonos</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>uni1F59</string>
		<string>uni1F5B</string>
		<string>uni1F5D</string>
		<string>uni1F5F</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>uni0194</string>
	</array>
	<key>@MMK_L_V.sc</key>
	<array>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>uni01B3</string>
		<string>uni024E</string>
	</array>
	<key>@MMK_L_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni0259</string>
		<string>uni0252</string>
		<string>uni0253</string>
		<string>uni0254</string>
		<string>uni0255</string>
		<string>uni0258</string>
		<string>uni025A</string>
		<string>uni025B</string>
		<string>uni025C</string>
		<string>uni025D</string>
		<string>uni025E</string>
		<string>uni0275</string>
		<string>uni0277</string>
		<string>b.f_</string>
		<string>thorn.f_</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>l.f_</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f.DEU</string>
		<string>f.long</string>
		<string>f_f</string>
		<string>f_f.long</string>
		<string>florin</string>
	</array>
	<key>@MMK_L_f._i</key>
	<array>
		<string>f._i</string>
		<string>longs._i</string>
	</array>
	<key>@MMK_L_f_f.short</key>
	<array>
		<string>f.short</string>
		<string>f_f.short</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>uni0271</string>
		<string>uni0272</string>
		<string>uni0273</string>
		<string>h.f_</string>
	</array>
	<key>@MMK_L_longs</key>
	<array>
		<string>longs</string>
		<string>longs.long</string>
		<string>longs_longs</string>
		<string>longs_longs.long</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_uni0283</key>
	<array>
		<string>uni0283</string>
	</array>
	<key>@MMK_L_uni02BE</key>
	<array>
		<string>uni02BE</string>
		<string>uni02BF</string>
	</array>
	<key>@MMK_L_uni0413</key>
	<array>
		<string>uni0413</string>
		<string>uni0490</string>
	</array>
	<key>@MMK_L_uni0422</key>
	<array>
		<string>uni0422</string>
	</array>
	<key>@MMK_L_uni1E9D.short</key>
	<array>
		<string>uni1E9C.short</string>
		<string>uni1E9B.short</string>
		<string>uni1E9D.short</string>
		<string>longs.short</string>
		<string>longs_longs.short</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>uni01B4</string>
		<string>uni0240</string>
		<string>uni024F</string>
		<string>uni0263</string>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0245</string>
	</array>
	<key>@MMK_R_A.sc</key>
	<array>
		<string>A.sc</string>
		<string>a.sc</string>
	</array>
	<key>@MMK_R_Agrave.sc</key>
	<array>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_R_B.sc</key>
	<array>
		<string>B.sc</string>
		<string>D.sc</string>
		<string>E.sc</string>
		<string>F.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>K.sc</string>
		<string>L.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>P.sc</string>
		<string>R.sc</string>
		<string>b.sc</string>
		<string>d.sc</string>
		<string>e.sc</string>
		<string>f.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>dotlessi.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>p.sc</string>
		<string>r.sc</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Ohorn</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_C.sc</key>
	<array>
		<string>C.sc</string>
		<string>G.sc</string>
		<string>O.sc</string>
		<string>Q.sc</string>
		<string>S.sc</string>
		<string>c.sc</string>
		<string>g.sc</string>
		<string>o.sc</string>
		<string>q.sc</string>
		<string>s.sc</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
	</array>
	<key>@MMK_R_T.sc</key>
	<array>
		<string>T.sc</string>
		<string>t.sc</string>
	</array>
	<key>@MMK_R_U.sc</key>
	<array>
		<string>U.sc</string>
		<string>u.sc</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>uni0194</string>
	</array>
	<key>@MMK_R_V.sc</key>
	<array>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
	</array>
	<key>@MMK_R_X.sc</key>
	<array>
		<string>X.sc</string>
		<string>x.sc</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>uni01B3</string>
		<string>uni024E</string>
	</array>
	<key>@MMK_R_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aogonek</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eogonek</string>
		<string>g</string>
		<string>s</string>
		<string>scedilla</string>
		<string>uni0259</string>
		<string>uni01C6</string>
		<string>uni01F3</string>
		<string>uni0238</string>
		<string>uni0247</string>
		<string>uni0254</string>
		<string>uni0255</string>
		<string>uni0256</string>
		<string>uni0257</string>
		<string>uni0258</string>
		<string>uni025A</string>
		<string>uni025B</string>
		<string>uni025C</string>
		<string>uni025D</string>
		<string>uni025E</string>
		<string>uni0260</string>
		<string>uni1EB9</string>
	</array>
	<key>@MMK_R_aacute</key>
	<array>
		<string>aacute</string>
	</array>
	<key>@MMK_R_abreve</key>
	<array>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
	</array>
	<key>@MMK_R_acircumflex</key>
	<array>
		<string>acircumflex</string>
	</array>
	<key>@MMK_R_adieresis</key>
	<array>
		<string>adieresis</string>
	</array>
	<key>@MMK_R_amacron</key>
	<array>
		<string>amacron</string>
	</array>
	<key>@MMK_R_aring</key>
	<array>
		<string>aring</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_atilde</key>
	<array>
		<string>atilde</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_cacute</key>
	<array>
		<string>cacute</string>
	</array>
	<key>@MMK_R_ccaron</key>
	<array>
		<string>ccaron</string>
	</array>
	<key>@MMK_R_ccircumflex</key>
	<array>
		<string>ccircumflex</string>
	</array>
	<key>@MMK_R_cdotaccent</key>
	<array>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_eacute</key>
	<array>
		<string>eacute</string>
	</array>
	<key>@MMK_R_ebreve</key>
	<array>
		<string>ebreve</string>
	</array>
	<key>@MMK_R_ecaron</key>
	<array>
		<string>ecaron</string>
	</array>
	<key>@MMK_R_ecircumflex</key>
	<array>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC3</string>
		<string>uni1EC7</string>
	</array>
	<key>@MMK_R_edieresis</key>
	<array>
		<string>edieresis</string>
	</array>
	<key>@MMK_R_edotaccent</key>
	<array>
		<string>edotaccent</string>
	</array>
	<key>@MMK_R_egrave</key>
	<array>
		<string>egrave</string>
	</array>
	<key>@MMK_R_emacron</key>
	<array>
		<string>emacron</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>exclam</string>
		<string>exclamdbl</string>
		<string>uni2049</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_gbreve</key>
	<array>
		<string>gbreve</string>
	</array>
	<key>@MMK_R_gcaron</key>
	<array>
		<string>gcaron</string>
	</array>
	<key>@MMK_R_gcircumflex</key>
	<array>
		<string>gcircumflex</string>
	</array>
	<key>@MMK_R_gdotaccent</key>
	<array>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_germandbls</key>
	<array>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>agrave</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni1E03</string>
		<string>uni1E05</string>
		<string>uni1E07</string>
		<string>uni1E15</string>
		<string>uni1E17</string>
		<string>uni1E1D</string>
		<string>uni1E1F</string>
		<string>uni1E23</string>
		<string>uni1E25</string>
		<string>uni1E27</string>
		<string>uni1E29</string>
		<string>uni1E2B</string>
		<string>uni1E2D</string>
		<string>uni1E2F</string>
		<string>uni1E31</string>
		<string>uni1E33</string>
		<string>uni1E35</string>
		<string>uni1E37</string>
		<string>uni1E39</string>
		<string>uni1E3B</string>
		<string>uni1E3D</string>
		<string>uni1E4F</string>
		<string>uni1E51</string>
		<string>uni1E65</string>
		<string>uni1E67</string>
		<string>uni1E7B</string>
		<string>uni1E96</string>
		<string>uni1E97</string>
		<string>uni1E9A</string>
		<string>uni1E9B</string>
		<string>uni1E9C</string>
		<string>uni1E9D</string>
		<string>uni1E9F</string>
		<string>uni1EAB</string>
		<string>uni1EC5</string>
		<string>uni1EC9</string>
		<string>uni1ECB</string>
		<string>uni1EFB</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>ij</string>
		<string>iogonek</string>
		<string>j</string>
		<string>i.TRK</string>
	</array>
	<key>@MMK_R_iacute</key>
	<array>
		<string>iacute</string>
	</array>
	<key>@MMK_R_ibreve</key>
	<array>
		<string>ibreve</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave</string>
	</array>
	<key>@MMK_R_imacron</key>
	<array>
		<string>imacron</string>
	</array>
	<key>@MMK_R_itilde</key>
	<array>
		<string>itilde</string>
	</array>
	<key>@MMK_R_j.dotless</key>
	<array>
		<string>j.dotless</string>
	</array>
	<key>@MMK_R_jcircumflex</key>
	<array>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>dotlessi</string>
		<string>m</string>
		<string>n</string>
		<string>eng</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>uhorn</string>
		<string>uni0146</string>
		<string>uni01B6</string>
		<string>uni01BA</string>
		<string>uni01BF</string>
		<string>uni021D</string>
		<string>uni024D</string>
		<string>uni0250</string>
		<string>uni0252</string>
		<string>uni025F</string>
		<string>uni0269</string>
		<string>uni026A</string>
		<string>uni026F</string>
		<string>uni0270</string>
		<string>uni0271</string>
		<string>uni0272</string>
		<string>uni0273</string>
		<string>uni0274</string>
		<string>uni1E3F</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>uni1E4B</string>
		<string>uni1EE5</string>
		<string>uni1EF1</string>
		<string>uogonek</string>
		<string>z</string>
		<string>i.dotless</string>
	</array>
	<key>@MMK_R_mu</key>
	<array>
		<string>alpha</string>
		<string>gamma</string>
		<string>epsilon</string>
		<string>eta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>mu</string>
		<string>nu</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>chi</string>
		<string>omega</string>
		<string>uni1FB3</string>
		<string>uni1FC3</string>
		<string>uni1FF3</string>
	</array>
	<key>@MMK_R_nacute</key>
	<array>
		<string>nacute</string>
	</array>
	<key>@MMK_R_ncaron</key>
	<array>
		<string>ncaron</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_ntilde</key>
	<array>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ae</string>
		<string>o</string>
		<string>ohorn</string>
		<string>oe</string>
		<string>q</string>
		<string>uni01EB</string>
		<string>uni024B</string>
		<string>uni0251</string>
		<string>uni0261</string>
		<string>uni0275</string>
		<string>uni1EE3</string>
	</array>
	<key>@MMK_R_oacute</key>
	<array>
		<string>oacute</string>
		<string>uni1EDB</string>
	</array>
	<key>@MMK_R_obreve</key>
	<array>
		<string>obreve</string>
	</array>
	<key>@MMK_R_ocircumflex</key>
	<array>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED5</string>
		<string>uni1ED9</string>
	</array>
	<key>@MMK_R_odieresis</key>
	<array>
		<string>odieresis</string>
	</array>
	<key>@MMK_R_ograve</key>
	<array>
		<string>ograve</string>
		<string>uni1EDD</string>
	</array>
	<key>@MMK_R_ohungarumlaut</key>
	<array>
		<string>ohungarumlaut</string>
	</array>
	<key>@MMK_R_omacron</key>
	<array>
		<string>omacron</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_otilde</key>
	<array>
		<string>otilde</string>
		<string>uni1EE1</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>braceright</string>
		<string>bracketright</string>
		<string>uni2E29</string>
		<string>parenright</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
		<string>uni2047</string>
		<string>uni203D</string>
		<string>uni2048</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_racute</key>
	<array>
		<string>racute</string>
	</array>
	<key>@MMK_R_rcaron</key>
	<array>
		<string>rcaron</string>
	</array>
	<key>@MMK_R_sacute</key>
	<array>
		<string>sacute</string>
	</array>
	<key>@MMK_R_scircumflex</key>
	<array>
		<string>scircumflex</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_uacute</key>
	<array>
		<string>uacute</string>
		<string>uni1EE9</string>
	</array>
	<key>@MMK_R_ubreve</key>
	<array>
		<string>ubreve</string>
	</array>
	<key>@MMK_R_ucircumflex</key>
	<array>
		<string>ucircumflex</string>
	</array>
	<key>@MMK_R_udieresis</key>
	<array>
		<string>udieresis</string>
	</array>
	<key>@MMK_R_ugrave</key>
	<array>
		<string>ugrave</string>
		<string>uni1EEB</string>
	</array>
	<key>@MMK_R_uhungarumlaut</key>
	<array>
		<string>uhungarumlaut</string>
	</array>
	<key>@MMK_R_umacron</key>
	<array>
		<string>umacron</string>
	</array>
	<key>@MMK_R_uni0123</key>
	<array>
		<string>uni0123</string>
	</array>
	<key>@MMK_R_uni01D0</key>
	<array>
		<string>uni01D0</string>
	</array>
	<key>@MMK_R_uni01D2</key>
	<array>
		<string>uni01D2</string>
	</array>
	<key>@MMK_R_uni01D4</key>
	<array>
		<string>uni01D4</string>
	</array>
	<key>@MMK_R_uni01F0</key>
	<array>
		<string>uni01F0</string>
	</array>
	<key>@MMK_R_uni01F5</key>
	<array>
		<string>uni01F5</string>
	</array>
	<key>@MMK_R_uni01F9</key>
	<array>
		<string>uni01F9</string>
	</array>
	<key>@MMK_R_uni0227</key>
	<array>
		<string>uni0227</string>
	</array>
	<key>@MMK_R_uni022F</key>
	<array>
		<string>uni022F</string>
	</array>
	<key>@MMK_R_uni0233</key>
	<array>
		<string>uni0233</string>
	</array>
	<key>@MMK_R_uni02BE</key>
	<array>
		<string>uni02BE</string>
		<string>uni02BF</string>
	</array>
	<key>@MMK_R_uni0430</key>
	<array>
		<string>uni0430</string>
		<string>uni0435</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni044F</string>
		<string>uni04E9</string>
	</array>
	<key>@MMK_R_uni0432</key>
	<array>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0438</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni045A</string>
		<string>uni044E</string>
		<string>uni0434.alt</string>
		<string>uni043B.alt</string>
		<string>uni0459.alt</string>
	</array>
	<key>@MMK_R_uni0434</key>
	<array>
		<string>uni0434</string>
		<string>uni043B</string>
		<string>uni0459</string>
	</array>
	<key>@MMK_R_uni0436</key>
	<array>
		<string>uni0436</string>
		<string>uni0445</string>
	</array>
	<key>@MMK_R_uni0442</key>
	<array>
		<string>uni0442</string>
		<string>uni044A</string>
	</array>
	<key>@MMK_R_uni0443</key>
	<array>
		<string>uni0443</string>
	</array>
	<key>@MMK_R_uni0444</key>
	<array>
		<string>uni0444</string>
	</array>
	<key>@MMK_R_uni0447</key>
	<array>
		<string>uni0447</string>
	</array>
	<key>@MMK_R_uni1E21</key>
	<array>
		<string>uni1E21</string>
	</array>
	<key>@MMK_R_uni1E45</key>
	<array>
		<string>uni1E45</string>
	</array>
	<key>@MMK_R_uni1E55</key>
	<array>
		<string>uni1E55</string>
	</array>
	<key>@MMK_R_uni1E57</key>
	<array>
		<string>uni1E57</string>
	</array>
	<key>@MMK_R_uni1E59</key>
	<array>
		<string>uni1E59</string>
	</array>
	<key>@MMK_R_uni1E61</key>
	<array>
		<string>uni1E61</string>
	</array>
	<key>@MMK_R_uni1E6B</key>
	<array>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_R_uni1E7D</key>
	<array>
		<string>uni1E7D</string>
	</array>
	<key>@MMK_R_uni1E8B</key>
	<array>
		<string>uni1E8B</string>
	</array>
	<key>@MMK_R_uni1E8D</key>
	<array>
		<string>uni1E8D</string>
	</array>
	<key>@MMK_R_uni1E8F</key>
	<array>
		<string>uni1E8F</string>
	</array>
	<key>@MMK_R_uni1E91</key>
	<array>
		<string>uni1E91</string>
	</array>
	<key>@MMK_R_uni1E99</key>
	<array>
		<string>uni1E99</string>
	</array>
	<key>@MMK_R_uni1EA3</key>
	<array>
		<string>uni1EA3</string>
	</array>
	<key>@MMK_R_uni1EA5</key>
	<array>
		<string>uni1EA5</string>
		<string>uni1EA9</string>
		<string>uni1EAD</string>
	</array>
	<key>@MMK_R_uni1EA7</key>
	<array>
		<string>uni1EA7</string>
	</array>
	<key>@MMK_R_uni1EBB</key>
	<array>
		<string>uni1EBB</string>
	</array>
	<key>@MMK_R_uni1EBD</key>
	<array>
		<string>uni1EBD</string>
	</array>
	<key>@MMK_R_uni1EC1</key>
	<array>
		<string>uni1EC1</string>
	</array>
	<key>@MMK_R_uni1ECF</key>
	<array>
		<string>uni1ECF</string>
		<string>uni1EDF</string>
	</array>
	<key>@MMK_R_uni1ED3</key>
	<array>
		<string>uni1ED3</string>
	</array>
	<key>@MMK_R_uni1ED7</key>
	<array>
		<string>uni1ED7</string>
	</array>
	<key>@MMK_R_uni1EE7</key>
	<array>
		<string>uni1EE7</string>
		<string>uni1EED</string>
	</array>
	<key>@MMK_R_uni1EF7</key>
	<array>
		<string>uni1EF7</string>
	</array>
	<key>@MMK_R_uni1EF9</key>
	<array>
		<string>uni1EF9</string>
	</array>
	<key>@MMK_R_uring</key>
	<array>
		<string>uring</string>
	</array>
	<key>@MMK_R_utilde</key>
	<array>
		<string>uni1EEF</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>uni1E87</string>
		<string>uni1E89</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>uni01B4</string>
		<string>uni024F</string>
		<string>uni0263</string>
		<string>y</string>
	</array>
	<key>@MMK_R_yacute</key>
	<array>
		<string>yacute</string>
	</array>
	<key>@MMK_R_ycircumflex</key>
	<array>
		<string>ycircumflex</string>
	</array>
	<key>@MMK_R_ydieresis</key>
	<array>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_ygrave</key>
	<array>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_zacute</key>
	<array>
		<string>zacute</string>
	</array>
	<key>@MMK_R_zcaron</key>
	<array>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_zdotaccent</key>
	<array>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
