<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-70</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-65</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>bullet</key>
		<integer>-60</integer>
		<key>guilsinglleft</key>
		<integer>-45</integer>
		<key>registered</key>
		<integer>-45</integer>
		<key>trademark</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_j.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-95</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-35</integer>
		<key>@MMK_R_m</key>
		<integer>-40</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_slash</key>
		<integer>-45</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-25</integer>
		<key>guilsinglleft</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_Gamma</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_i</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>bullet</key>
		<integer>-90</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>periodcentered</key>
		<integer>-70</integer>
		<key>registered</key>
		<integer>-85</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-110</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>backslash</key>
		<integer>-65</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>trademark</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_i</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_AE</key>
		<integer>-45</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_X</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>-25</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_slash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-110</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_slash</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-115</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_parenright</key>
		<integer>-35</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-70</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>bullet</key>
		<integer>-80</integer>
		<key>guilsinglleft</key>
		<integer>-70</integer>
		<key>periodcentered</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_AE</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_Y</key>
		<integer>15</integer>
		<key>@MMK_R_a</key>
		<integer>-105</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-95</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-130</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_g</key>
		<integer>-85</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-95</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_slash</key>
		<integer>-45</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-85</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-90</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-30</integer>
		<key>ampersand</key>
		<integer>-35</integer>
		<key>at</key>
		<integer>-60</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_Tau</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_f</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-35</integer>
		<key>@MMK_R_i</key>
		<integer>-25</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_Upsilontonos</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_AE</key>
		<integer>-150</integer>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-110</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-170</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-160</integer>
		<key>@MMK_R_colon</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-150</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_f</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>@MMK_R_s</key>
		<integer>-130</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_slash</key>
		<integer>-115</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-90</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_x</key>
		<integer>-90</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-95</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-90</integer>
		<key>ampersand</key>
		<integer>-75</integer>
		<key>at</key>
		<integer>-90</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-55</integer>
		<key>periodcentered</key>
		<integer>-85</integer>
		<key>registered</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-65</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-90</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>at</key>
		<integer>-25</integer>
		<key>guilsinglleft</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-40</integer>
		<key>registered</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_AE</key>
		<integer>-95</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-85</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-95</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-90</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_m</key>
		<integer>-60</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-95</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_slash</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-105</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-75</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-70</integer>
		<key>ampersand</key>
		<integer>-55</integer>
		<key>at</key>
		<integer>-90</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>periodcentered</key>
		<integer>-90</integer>
		<key>registered</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_t.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-35</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_a.sc</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-140</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-85</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-90</integer>
		<key>asterisk.sc</key>
		<integer>-75</integer>
		<key>backslash.sc</key>
		<integer>-105</integer>
		<key>bullet</key>
		<integer>-70</integer>
		<key>guillemotleft.sc</key>
		<integer>-45</integer>
		<key>registered.sc</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_b.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-105</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_c.sc</key>
	<dict>
		<key>@MMK_R_j.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_V</key>
		<integer>-150</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_dcaron</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>60</integer>
		<key>@MMK_R_h</key>
		<integer>60</integer>
		<key>@MMK_R_j</key>
		<integer>35</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_M</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_Y</key>
		<integer>-120</integer>
		<key>@MMK_R_b</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>70</integer>
		<key>@MMK_R_O</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_asterisk</key>
		<integer>170</integer>
		<key>@MMK_R_b</key>
		<integer>70</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_eth</key>
		<integer>70</integer>
		<key>@MMK_R_exclam</key>
		<integer>110</integer>
		<key>@MMK_R_four</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_h</key>
		<integer>65</integer>
		<key>@MMK_R_i</key>
		<integer>70</integer>
		<key>@MMK_R_j</key>
		<integer>70</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_parenright</key>
		<integer>140</integer>
		<key>@MMK_R_question</key>
		<integer>120</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>80</integer>
		<key>@MMK_R_quoteright</key>
		<integer>130</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>120</integer>
		<key>ampersand</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>150</integer>
		<key>dagger</key>
		<integer>90</integer>
	</dict>
	<key>@MMK_L_f.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-5</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-20</integer>
		<key>guillemotleft.sc</key>
		<integer>-25</integer>
		<key>period.sc</key>
		<integer>-55</integer>
		<key>slash.sc</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_g.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_j.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-25</integer>
		<key>period.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_k.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-25</integer>
		<key>at.sc</key>
		<integer>-20</integer>
		<key>guillemotleft.sc</key>
		<integer>-70</integer>
		<key>periodcentered.sc</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_l.sc</key>
	<dict>
		<key>@MMK_R_quoteleft</key>
		<integer>-85</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-80</integer>
		<key>asterisk.sc</key>
		<integer>-65</integer>
		<key>backslash.sc</key>
		<integer>-70</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>registered.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_longs</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>165</integer>
		<key>@MMK_R_exclam</key>
		<integer>135</integer>
		<key>@MMK_R_parenright</key>
		<integer>195</integer>
		<key>@MMK_R_question</key>
		<integer>140</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>160</integer>
		<key>@MMK_R_quoteright</key>
		<integer>165</integer>
	</dict>
	<key>@MMK_L_m.sc</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-110</integer>
		<key>@MMK_R_Y</key>
		<integer>-120</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-45</integer>
		<key>@MMK_R_b</key>
		<integer>-15</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_n.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-20</integer>
		<key>period.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_M</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-105</integer>
		<key>@MMK_R_V</key>
		<integer>-120</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_b</key>
		<integer>-30</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-35</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_o.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-45</integer>
		<key>asterisk.sc</key>
		<integer>-45</integer>
		<key>backslash.sc</key>
		<integer>-60</integer>
		<key>guillemotright.sc</key>
		<integer>-25</integer>
		<key>parenright.sc</key>
		<integer>-20</integer>
		<key>period.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_p.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
		<key>backslash.sc</key>
		<integer>-20</integer>
		<key>period.sc</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_b</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-145</integer>
		<key>@MMK_R_g</key>
		<integer>-45</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_m</key>
		<integer>-55</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_slash</key>
		<integer>-45</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_r.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>asterisk.sc</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-130</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_s.sc</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_a</key>
		<integer>-65</integer>
		<key>@MMK_R_five</key>
		<integer>-95</integer>
		<key>@MMK_R_four</key>
		<integer>-170</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_nine</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_one</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-45</integer>
		<key>@MMK_R_t</key>
		<integer>-35</integer>
		<key>@MMK_R_three</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_t.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_comma</key>
		<integer>-45</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-15</integer>
		<key>guillemotleft.sc</key>
		<integer>-35</integer>
		<key>period.sc</key>
		<integer>-65</integer>
		<key>slash.sc</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>backslash</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_u.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-45</integer>
		<key>period.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_uni0283</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>80</integer>
		<key>@MMK_R_eth</key>
		<integer>80</integer>
		<key>@MMK_R_i</key>
		<integer>55</integer>
	</dict>
	<key>@MMK_L_uni02BE</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_uni0413</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-140</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-105</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-115</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-115</integer>
	</dict>
	<key>@MMK_L_uni0422</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-125</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-95</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-135</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_uni1E9D.short</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>125</integer>
		<key>@MMK_R_exclam</key>
		<integer>95</integer>
		<key>@MMK_R_parenright</key>
		<integer>150</integer>
		<key>@MMK_R_question</key>
		<integer>90</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>110</integer>
		<key>@MMK_R_quoteright</key>
		<integer>95</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_parenright</key>
		<integer>-20</integer>
		<key>@MMK_R_slash</key>
		<integer>-45</integer>
		<key>at</key>
		<integer>-10</integer>
		<key>guillemotleft</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_v.sc</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-110</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-45</integer>
		<key>at.sc</key>
		<integer>-30</integer>
		<key>guillemotleft.sc</key>
		<integer>-50</integer>
		<key>hyphen.sc</key>
		<integer>-25</integer>
		<key>period.sc</key>
		<integer>-95</integer>
		<key>periodcentered.sc</key>
		<integer>-45</integer>
		<key>slash.sc</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>guillemotleft</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_x.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-45</integer>
		<key>guillemotleft.sc</key>
		<integer>-65</integer>
		<key>periodcentered.sc</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y.sc</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-110</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-40</integer>
		<key>at.sc</key>
		<integer>-30</integer>
		<key>guillemotleft.sc</key>
		<integer>-65</integer>
		<key>period.sc</key>
		<integer>-95</integer>
		<key>periodcentered.sc</key>
		<integer>-65</integer>
		<key>slash.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_z.sc</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_X</key>
		<integer>-65</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-65</integer>
	</dict>
	<key>asterisk.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-45</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
	</dict>
	<key>at.sc</key>
	<dict>
		<key>@MMK_R_v.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-60</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>backslash.sc</key>
	<dict>
		<key>@MMK_R_t.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-35</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>60</integer>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>yen</key>
		<integer>-80</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
	<key>guillemotleft.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-25</integer>
	</dict>
	<key>guillemotright</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_x</key>
		<integer>-45</integer>
	</dict>
	<key>guillemotright.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-65</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_X</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
	</dict>
	<key>hyphen.sc</key>
	<dict>
		<key>@MMK_R_v.sc</key>
		<integer>-25</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>yen</key>
		<integer>-65</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>90</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
	</dict>
	<key>parenleft.sc</key>
	<dict>
		<key>@MMK_R_j.sc</key>
		<integer>30</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-20</integer>
	</dict>
	<key>period.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-95</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-95</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_x</key>
		<integer>-35</integer>
	</dict>
	<key>periodcentered.sc</key>
	<dict>
		<key>@MMK_R_v.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-65</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>60</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
	</dict>
	<key>registered</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_X</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
	</dict>
	<key>registered.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-65</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_five</key>
		<integer>-30</integer>
		<key>@MMK_R_four</key>
		<integer>-120</integer>
		<key>@MMK_R_nine</key>
		<integer>-30</integer>
		<key>@MMK_R_slash</key>
		<integer>-60</integer>
		<key>@MMK_R_three</key>
		<integer>-25</integer>
		<key>zero</key>
		<integer>-45</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>yen</key>
		<integer>-20</integer>
	</dict>
	<key>slash.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-105</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>yen</key>
		<integer>-70</integer>
	</dict>
	<key>trademark</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
		<key>yen</key>
		<integer>-75</integer>
	</dict>
	<key>uni2116</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-25</integer>
	</dict>
	<key>yen</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-80</integer>
		<key>@MMK_R_one</key>
		<integer>-65</integer>
		<key>@MMK_R_three</key>
		<integer>-70</integer>
		<key>@MMK_R_two</key>
		<integer>-75</integer>
		<key>six</key>
		<integer>-60</integer>
		<key>zero</key>
		<integer>-85</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-25</integer>
		<key>yen</key>
		<integer>-85</integer>
	</dict>
</dict>
</plist>
