<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A.ordn</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_V</key>
		<integer>-160</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_m</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Gamma</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0394</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-115</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-105</integer>
		<key>@MMK_R_colon</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-105</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Tau</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_Upsilontonos</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-115</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_m</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_b</key>
		<integer>70</integer>
		<key>@MMK_R_eth</key>
		<integer>70</integer>
		<key>@MMK_R_i</key>
		<integer>70</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>120</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_y</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_longs</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>165</integer>
		<key>@MMK_R_exclam</key>
		<integer>135</integer>
		<key>@MMK_R_parenright</key>
		<integer>195</integer>
		<key>@MMK_R_question</key>
		<integer>140</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>160</integer>
		<key>@MMK_R_quoteright</key>
		<integer>165</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_m</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_five</key>
		<integer>-95</integer>
		<key>@MMK_R_four</key>
		<integer>-115</integer>
		<key>@MMK_R_nine</key>
		<integer>-50</integer>
		<key>@MMK_R_one</key>
		<integer>-10</integer>
		<key>@MMK_R_three</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_uni0283</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>80</integer>
		<key>@MMK_R_eth</key>
		<integer>80</integer>
		<key>@MMK_R_i</key>
		<integer>55</integer>
	</dict>
	<key>@MMK_L_uni02BE</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_uni0413</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-140</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-105</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-115</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-115</integer>
	</dict>
	<key>@MMK_L_uni0422</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-125</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-95</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-135</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_uni1E9D.short</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>125</integer>
		<key>@MMK_R_exclam</key>
		<integer>95</integer>
		<key>@MMK_R_parenright</key>
		<integer>150</integer>
		<key>@MMK_R_question</key>
		<integer>90</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>110</integer>
		<key>@MMK_R_quoteright</key>
		<integer>115</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>
