<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0245</string>
	</array>
	<key>@MMK_L_A.sc</key>
	<array>
		<string>A.sc</string>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aogonek.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aogonek.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_F.sc</key>
	<array>
		<string>F.sc</string>
		<string>f.sc</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_L.sc</key>
	<array>
		<string>L.sc</string>
		<string>Lacute.sc</string>
		<string>uni013B.sc</string>
		<string>Lslash.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>uni013C.sc</string>
		<string>lslash.sc</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_N.sc</key>
	<array>
		<string>N.sc</string>
		<string>Nacute.sc</string>
		<string>Ncaron.sc</string>
		<string>uni0145.sc</string>
		<string>Ntilde.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>uni0146.sc</string>
		<string>ntilde.sc</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>V.sw</string>
		<string>W.sw</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_P.sc</key>
	<array>
		<string>P.sc</string>
		<string>p.sc</string>
	</array>
	<key>@MMK_L_Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_T.sc</key>
	<array>
		<string>T.sc</string>
		<string>t.sc</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_L_V.01</key>
	<array>
		<string>V.01</string>
		<string>W.01</string>
	</array>
	<key>@MMK_L_V.sc</key>
	<array>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_f_f.short</key>
	<array>
		<string>f.short</string>
		<string>f_f.short</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>g_g</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_uni02BE</key>
	<array>
		<string>uni02BE</string>
	</array>
	<key>@MMK_L_uni02BF</key>
	<array>
		<string>uni02BF</string>
	</array>
	<key>@MMK_L_uni0413</key>
	<array>
		<string>uni0413</string>
		<string>uni0490</string>
	</array>
	<key>@MMK_L_uni0422</key>
	<array>
		<string>uni0422</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_L_v.01sc</key>
	<array>
		<string>V.01sc</string>
		<string>W.01sc</string>
		<string>v.01sc</string>
		<string>w.01sc</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>uni0245</string>
	</array>
	<key>@MMK_R_A.sc</key>
	<array>
		<string>A.sc</string>
		<string>Aogonek.sc</string>
		<string>AE.sc</string>
		<string>a.sc</string>
		<string>aogonek.sc</string>
		<string>ae.sc</string>
	</array>
	<key>@MMK_R_Agrave.sc</key>
	<array>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_R_B.sc</key>
	<array>
		<string>B.sc</string>
		<string>D.sc</string>
		<string>Eth.sc</string>
		<string>Dcroat.sc</string>
		<string>E.sc</string>
		<string>F.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>IJ.sc</string>
		<string>Iogonek.sc</string>
		<string>J.sc</string>
		<string>K.sc</string>
		<string>uni0136.sc</string>
		<string>L.sc</string>
		<string>Lcaron.sc</string>
		<string>Ldot.sc</string>
		<string>Lslash.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>uni0145.sc</string>
		<string>P.sc</string>
		<string>R.sc</string>
		<string>uni0156.sc</string>
		<string>b.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcroat.sc</string>
		<string>e.sc</string>
		<string>f.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>dotlessi.sc</string>
		<string>ij.sc</string>
		<string>iogonek.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>uni0137.sc</string>
		<string>l.sc</string>
		<string>lcaron.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>uni0146.sc</string>
		<string>p.sc</string>
		<string>r.sc</string>
		<string>uni0157.sc</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Ohorn</string>
		<string>Q</string>
		<string>Q.long</string>
		<string>Q.sw</string>
		<string>Q.swlong</string>
	</array>
	<key>@MMK_R_Ccedilla</key>
	<array>
		<string>Ccedilla</string>
		<string>Q.longsc</string>
		<string>q.longsc</string>
		<string>C.sc</string>
		<string>G.sc</string>
		<string>uni0122.sc</string>
		<string>O.sc</string>
		<string>Ohorn.sc</string>
		<string>OE.sc</string>
		<string>Q.sc</string>
		<string>c.sc</string>
		<string>g.sc</string>
		<string>uni0123.sc</string>
		<string>o.sc</string>
		<string>ohorn.sc</string>
		<string>oe.sc</string>
		<string>q.sc</string>
	</array>
	<key>@MMK_R_S.sc</key>
	<array>
		<string>S.sc</string>
		<string>s.sc</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_T.sc</key>
	<array>
		<string>T.sc</string>
		<string>t.sc</string>
	</array>
	<key>@MMK_R_U.sc</key>
	<array>
		<string>U.sc</string>
		<string>u.sc</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
	</array>
	<key>@MMK_R_V.sc</key>
	<array>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
	</array>
	<key>@MMK_R_X.sc</key>
	<array>
		<string>X.sc</string>
		<string>x.sc</string>
	</array>
	<key>@MMK_R_Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>y.sc</string>
	</array>
	<key>@MMK_R_Z.sc</key>
	<array>
		<string>Z.sc</string>
		<string>z.sc</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>a_s</string>
	</array>
	<key>@MMK_R_aacute</key>
	<array>
		<string>aacute</string>
	</array>
	<key>@MMK_R_abreve</key>
	<array>
		<string>abreve</string>
	</array>
	<key>@MMK_R_acircumflex</key>
	<array>
		<string>acircumflex</string>
	</array>
	<key>@MMK_R_adieresis</key>
	<array>
		<string>adieresis</string>
	</array>
	<key>@MMK_R_agrave</key>
	<array>
		<string>agrave</string>
	</array>
	<key>@MMK_R_amacron</key>
	<array>
		<string>amacron</string>
	</array>
	<key>@MMK_R_aring</key>
	<array>
		<string>aring</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_atilde</key>
	<array>
		<string>atilde</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eogonek</string>
		<string>g</string>
		<string>o</string>
		<string>ohorn</string>
		<string>oe</string>
		<string>q</string>
		<string>s</string>
		<string>scedilla</string>
		<string>uni01EB</string>
		<string>e_s</string>
	</array>
	<key>@MMK_R_ccaron</key>
	<array>
		<string>ccaron</string>
	</array>
	<key>@MMK_R_ccedilla</key>
	<array>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_cdotaccent</key>
	<array>
		<string>cdotaccent</string>
		<string>edotaccent</string>
		<string>uni022F</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_eacute</key>
	<array>
		<string>cacute</string>
		<string>eacute</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_ebreve</key>
	<array>
		<string>ebreve</string>
	</array>
	<key>@MMK_R_ecaron</key>
	<array>
		<string>ecaron</string>
	</array>
	<key>@MMK_R_ecircumflex</key>
	<array>
		<string>ccircumflex</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>ohungarumlaut</string>
	</array>
	<key>@MMK_R_edieresis</key>
	<array>
		<string>edieresis</string>
	</array>
	<key>@MMK_R_egrave</key>
	<array>
		<string>egrave</string>
	</array>
	<key>@MMK_R_emacron</key>
	<array>
		<string>emacron</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f.DEU</string>
		<string>f.short</string>
		<string>f_f</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
		<string>uniFB03</string>
		<string>uniFB04</string>
	</array>
	<key>@MMK_R_gbreve</key>
	<array>
		<string>gbreve</string>
	</array>
	<key>@MMK_R_gcaron</key>
	<array>
		<string>gcaron</string>
	</array>
	<key>@MMK_R_gcircumflex</key>
	<array>
		<string>gcircumflex</string>
	</array>
	<key>@MMK_R_gdotaccent</key>
	<array>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>ij</string>
		<string>iogonek</string>
		<string>j</string>
		<string>i_s</string>
	</array>
	<key>@MMK_R_iacute</key>
	<array>
		<string>iacute</string>
	</array>
	<key>@MMK_R_ibreve</key>
	<array>
		<string>ibreve</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave</string>
	</array>
	<key>@MMK_R_imacron</key>
	<array>
		<string>imacron</string>
	</array>
	<key>@MMK_R_itilde</key>
	<array>
		<string>itilde</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>dotlessi</string>
		<string>m</string>
		<string>n</string>
		<string>eng</string>
		<string>r</string>
		<string>u</string>
		<string>uhorn</string>
		<string>uni0146</string>
		<string>uni1E3F</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>uni1E4B</string>
		<string>uogonek</string>
		<string>u_s</string>
	</array>
	<key>@MMK_R_ncaron</key>
	<array>
		<string>ncaron</string>
	</array>
	<key>@MMK_R_ntilde</key>
	<array>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_obreve</key>
	<array>
		<string>obreve</string>
	</array>
	<key>@MMK_R_odieresis</key>
	<array>
		<string>odieresis</string>
	</array>
	<key>@MMK_R_ograve</key>
	<array>
		<string>ograve</string>
	</array>
	<key>@MMK_R_omacron</key>
	<array>
		<string>omacron</string>
	</array>
	<key>@MMK_R_otilde</key>
	<array>
		<string>otilde</string>
		<string>uni1EBD</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_racute</key>
	<array>
		<string>racute</string>
	</array>
	<key>@MMK_R_rcaron</key>
	<array>
		<string>rcaron</string>
	</array>
	<key>@MMK_R_sacute</key>
	<array>
		<string>sacute</string>
	</array>
	<key>@MMK_R_scaron</key>
	<array>
		<string>scaron</string>
	</array>
	<key>@MMK_R_scircumflex</key>
	<array>
		<string>scircumflex</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_uacute</key>
	<array>
		<string>nacute</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>uhungarumlaut</string>
		<string>uni1E45</string>
	</array>
	<key>@MMK_R_ubreve</key>
	<array>
		<string>ubreve</string>
	</array>
	<key>@MMK_R_udieresis</key>
	<array>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
	</array>
	<key>@MMK_R_ugrave</key>
	<array>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_umacron</key>
	<array>
		<string>umacron</string>
	</array>
	<key>@MMK_R_uni0123</key>
	<array>
		<string>uni0123</string>
	</array>
	<key>@MMK_R_uni01CE</key>
	<array>
		<string>uni01CE</string>
	</array>
	<key>@MMK_R_uni01D0</key>
	<array>
		<string>uni01D0</string>
		<string>uni01F0</string>
	</array>
	<key>@MMK_R_uni01D2</key>
	<array>
		<string>uni01D2</string>
	</array>
	<key>@MMK_R_uni01D4</key>
	<array>
		<string>uni01D4</string>
	</array>
	<key>@MMK_R_uni01F5</key>
	<array>
		<string>uni01F5</string>
	</array>
	<key>@MMK_R_uni01F9</key>
	<array>
		<string>uni01F9</string>
	</array>
	<key>@MMK_R_uni0227</key>
	<array>
		<string>uni0227</string>
	</array>
	<key>@MMK_R_uni0233</key>
	<array>
		<string>uni0233</string>
	</array>
	<key>@MMK_R_uni0430</key>
	<array>
		<string>uni0430</string>
		<string>uni0435</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni044F</string>
		<string>uni04E9</string>
	</array>
	<key>@MMK_R_uni0432</key>
	<array>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0438</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni045A</string>
		<string>uni044E</string>
	</array>
	<key>@MMK_R_uni0434</key>
	<array>
		<string>uni0434</string>
		<string>uni043B</string>
		<string>uni0459</string>
	</array>
	<key>@MMK_R_uni0436</key>
	<array>
		<string>uni0436</string>
		<string>uni0445</string>
	</array>
	<key>@MMK_R_uni0442</key>
	<array>
		<string>uni0442</string>
		<string>uni044A</string>
	</array>
	<key>@MMK_R_uni0443</key>
	<array>
		<string>uni0443</string>
	</array>
	<key>@MMK_R_uni0444</key>
	<array>
		<string>uni0444</string>
	</array>
	<key>@MMK_R_uni0447</key>
	<array>
		<string>uni0447</string>
	</array>
	<key>@MMK_R_uni1E21</key>
	<array>
		<string>uni1E21</string>
	</array>
	<key>@MMK_R_uni1E55</key>
	<array>
		<string>uni1E55</string>
	</array>
	<key>@MMK_R_uni1E57</key>
	<array>
		<string>uni1E57</string>
	</array>
	<key>@MMK_R_uni1E59</key>
	<array>
		<string>uni1E59</string>
	</array>
	<key>@MMK_R_uni1E61</key>
	<array>
		<string>uni1E61</string>
	</array>
	<key>@MMK_R_uni1E6B</key>
	<array>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_R_uni1E7D</key>
	<array>
		<string>uni1E7D</string>
	</array>
	<key>@MMK_R_uni1E8B</key>
	<array>
		<string>uni1E8B</string>
	</array>
	<key>@MMK_R_uni1E8D</key>
	<array>
		<string>uni1E8D</string>
	</array>
	<key>@MMK_R_uni1E8F</key>
	<array>
		<string>uni1E8F</string>
	</array>
	<key>@MMK_R_uni1E91</key>
	<array>
		<string>uni1E91</string>
	</array>
	<key>@MMK_R_uni1E99</key>
	<array>
		<string>uni1E99</string>
	</array>
	<key>@MMK_R_uni1EF9</key>
	<array>
		<string>uni1EF9</string>
	</array>
	<key>@MMK_R_uring</key>
	<array>
		<string>uring</string>
	</array>
	<key>@MMK_R_utilde</key>
	<array>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>uni1E87</string>
		<string>uni1E89</string>
		<string>uni1E98</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
	</array>
	<key>@MMK_R_v.01sc</key>
	<array>
		<string>V.01sc</string>
		<string>W.01sc</string>
		<string>v.01sc</string>
		<string>w.01sc</string>
	</array>
	<key>@MMK_R_yacute</key>
	<array>
		<string>yacute</string>
	</array>
	<key>@MMK_R_ycircumflex</key>
	<array>
		<string>ycircumflex</string>
	</array>
	<key>@MMK_R_ydieresis</key>
	<array>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_ygrave</key>
	<array>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_zacute</key>
	<array>
		<string>zacute</string>
	</array>
	<key>@MMK_R_zcaron</key>
	<array>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_zdotaccent</key>
	<array>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
