<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-70</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>guilsinglleft</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_comma</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>40</integer>
		<key>@MMK_R_slash</key>
		<integer>-20</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-15</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-65</integer>
		<key>@MMK_R_eth</key>
		<integer>-15</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>guilsinglleft</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_V</key>
		<integer>-65</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-120</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-90</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-50</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_T</key>
		<integer>-35</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>35</integer>
		<key>@MMK_R_parenright</key>
		<integer>80</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_M</key>
		<integer>-15</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_slash</key>
		<integer>-20</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_O</key>
		<integer>-70</integer>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_U</key>
		<integer>-70</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-125</integer>
		<key>@MMK_R_asterisk</key>
		<integer>-130</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-100</integer>
		<key>guilsinglleft</key>
		<integer>-60</integer>
		<key>trademark</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-95</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-85</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_slash</key>
		<integer>-30</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-65</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-35</integer>
		<key>at</key>
		<integer>-40</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>guilsinglright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-230</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_M</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-170</integer>
		<key>@MMK_R_comma</key>
		<integer>-195</integer>
		<key>@MMK_R_eth</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-75</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-40</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-100</integer>
		<key>@MMK_R_n</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-145</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-110</integer>
		<key>@MMK_R_p</key>
		<integer>-65</integer>
		<key>@MMK_R_s</key>
		<integer>-95</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_slash</key>
		<integer>-85</integer>
		<key>@MMK_R_t</key>
		<integer>-65</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-90</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-110</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>-110</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-90</integer>
		<key>at</key>
		<integer>-85</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>guilsinglright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-55</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_t</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-55</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-80</integer>
		<key>guilsinglleft</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_eth</key>
		<integer>-35</integer>
		<key>@MMK_R_g</key>
		<integer>-75</integer>
		<key>@MMK_R_h.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-35</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_p</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_slash</key>
		<integer>-65</integer>
		<key>@MMK_R_t</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-65</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-80</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-80</integer>
		<key>@MMK_R_z.sc</key>
		<integer>-60</integer>
		<key>at</key>
		<integer>-80</integer>
		<key>guilsinglleft</key>
		<integer>-80</integer>
		<key>guilsinglright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_t.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-40</integer>
		<key>guilsinglleft</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-80</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_t</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_a.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-70</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-70</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-50</integer>
		<key>ampersand.sc</key>
		<integer>-50</integer>
		<key>asterisk.sc</key>
		<integer>-110</integer>
		<key>at.sc</key>
		<integer>-45</integer>
		<key>backslash.sc</key>
		<integer>-130</integer>
		<key>dagger</key>
		<integer>-60</integer>
		<key>guillemotleft.sc</key>
		<integer>-30</integer>
		<key>periodcentered.sc</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_b.sc</key>
	<dict>
		<key>@MMK_R_x.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-25</integer>
		<key>backslash.sc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_c.sc</key>
	<dict>
		<key>backslash.sc</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>85</integer>
		<key>@MMK_R_O</key>
		<integer>-65</integer>
		<key>@MMK_R_T</key>
		<integer>-85</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_h</key>
		<integer>-30</integer>
		<key>@MMK_R_j.sc</key>
		<integer>80</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-80</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-60</integer>
		<key>four.lf</key>
		<integer>-55</integer>
		<key>zero.lf</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_comma.sc</key>
	<dict>
		<key>@MMK_R_t.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_dcaron</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-25</integer>
		<key>backslash</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_e.sc</key>
	<dict>
		<key>backslash.sc</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_asterisk</key>
		<integer>80</integer>
		<key>@MMK_R_comma</key>
		<integer>-25</integer>
		<key>@MMK_R_four</key>
		<integer>-35</integer>
		<key>@MMK_R_h</key>
		<integer>30</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>75</integer>
		<key>@MMK_R_quoteright</key>
		<integer>50</integer>
		<key>ampersand</key>
		<integer>70</integer>
		<key>backslash</key>
		<integer>40</integer>
		<key>eight.lf</key>
		<integer>50</integer>
		<key>five.lf</key>
		<integer>35</integer>
		<key>guillemotleft</key>
		<integer>-15</integer>
		<key>nine.lf</key>
		<integer>45</integer>
		<key>one.lf</key>
		<integer>40</integer>
		<key>seven.lf</key>
		<integer>65</integer>
		<key>six</key>
		<integer>30</integer>
		<key>six.lf</key>
		<integer>40</integer>
		<key>three.lf</key>
		<integer>35</integer>
		<key>trademark</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_f.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-40</integer>
		<key>at.sc</key>
		<integer>-20</integer>
		<key>backslash.sc</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-5</integer>
		<key>@MMK_R_comma</key>
		<integer>35</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_g.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
		<key>asterisk.sc</key>
		<integer>-50</integer>
		<key>backslash.sc</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_germandbls</key>
	<dict>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_j.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>trademark</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_k.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
		<key>backslash.sc</key>
		<integer>-40</integer>
		<key>guillemotleft.sc</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_l.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-90</integer>
		<key>ampersand.sc</key>
		<integer>-80</integer>
		<key>asterisk.sc</key>
		<integer>-80</integer>
		<key>backslash.sc</key>
		<integer>-130</integer>
		<key>trademark</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_longs</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-65</integer>
		<key>@MMK_R_n</key>
		<integer>-65</integer>
		<key>@MMK_R_o</key>
		<integer>-65</integer>
		<key>@MMK_R_s</key>
		<integer>-55</integer>
		<key>@MMK_R_u</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-45</integer>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-80</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-55</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-35</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-35</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_o.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-45</integer>
		<key>backslash.sc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_p.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-30</integer>
		<key>backslash.sc</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_h</key>
		<integer>35</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_r.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-80</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_u.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-80</integer>
		<key>ampersand.sc</key>
		<integer>-80</integer>
		<key>asterisk.sc</key>
		<integer>-100</integer>
		<key>backslash.sc</key>
		<integer>-120</integer>
		<key>trademark</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>backslash</key>
		<integer>-60</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_s.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-20</integer>
		<key>backslash.sc</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-45</integer>
		<key>trademark</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_t.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-30</integer>
		<key>backslash.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_thorn.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>trademark</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_u.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-55</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-80</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_v.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-180</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-130</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-110</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_s.sc</key>
		<integer>-20</integer>
		<key>@MMK_R_x.sc</key>
		<integer>-30</integer>
		<key>ampersand.sc</key>
		<integer>-35</integer>
		<key>asterisk.sc</key>
		<integer>-15</integer>
		<key>guillemotleft.sc</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_x.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-40</integer>
		<key>guillemotleft.sc</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>-55</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-70</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_y.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_ae.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_comma.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_j.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_m.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_o.sc</key>
		<integer>-35</integer>
		<key>guillemotleft.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-75</integer>
		<key>trademark</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_z.sc</key>
	<dict>
		<key>backslash.sc</key>
		<integer>-45</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_M</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-45</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_Z</key>
		<integer>-15</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-140</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>80</integer>
	</dict>
	<key>asterisk.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-60</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-55</integer>
		<key>@MMK_R_T</key>
		<integer>-85</integer>
		<key>@MMK_R_V</key>
		<integer>-65</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
	</dict>
	<key>backslash.sc</key>
	<dict>
		<key>@MMK_R_o.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_t.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_v.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_y.sc</key>
		<integer>-50</integer>
	</dict>
	<key>dagger</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-20</integer>
		<key>yen</key>
		<integer>-40</integer>
	</dict>
	<key>eight.lf</key>
	<dict>
		<key>four.lf</key>
		<integer>-25</integer>
		<key>seven.lf</key>
		<integer>-35</integer>
		<key>two.lf</key>
		<integer>-25</integer>
		<key>zero.lf</key>
		<integer>-35</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>-25</integer>
		<key>yen</key>
		<integer>-65</integer>
		<key>zero</key>
		<integer>-15</integer>
	</dict>
	<key>five.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-15</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>percent</key>
		<integer>-25</integer>
		<key>yen</key>
		<integer>-90</integer>
	</dict>
	<key>four.lf</key>
	<dict>
		<key>three.lf</key>
		<integer>-15</integer>
		<key>yen</key>
		<integer>-45</integer>
	</dict>
	<key>guillemotright.sc</key>
	<dict>
		<key>@MMK_R_x.sc</key>
		<integer>-45</integer>
	</dict>
	<key>guilsinglleft</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-130</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>yen</key>
		<integer>-55</integer>
	</dict>
	<key>nine.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-25</integer>
		<key>Euro</key>
		<integer>20</integer>
		<key>cent</key>
		<integer>30</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>yen</key>
		<integer>-60</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>80</integer>
		<key>@MMK_R_f</key>
		<integer>55</integer>
	</dict>
	<key>periodcentered.sc</key>
	<dict>
		<key>@MMK_R_a.sc</key>
		<integer>-45</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_five</key>
		<integer>-30</integer>
		<key>@MMK_R_four</key>
		<integer>-80</integer>
		<key>@MMK_R_nine</key>
		<integer>-25</integer>
		<key>@MMK_R_three</key>
		<integer>-15</integer>
		<key>yen</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>seven.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_slash</key>
		<integer>-45</integer>
		<key>cent</key>
		<integer>-45</integer>
		<key>eight.lf</key>
		<integer>-15</integer>
		<key>five.lf</key>
		<integer>-25</integer>
		<key>florin</key>
		<integer>-45</integer>
		<key>four.lf</key>
		<integer>-95</integer>
		<key>less</key>
		<integer>-35</integer>
		<key>nine.lf</key>
		<integer>-15</integer>
		<key>sterling</key>
		<integer>-65</integer>
		<key>two.lf</key>
		<integer>-25</integer>
		<key>zero.lf</key>
		<integer>-45</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>florin</key>
		<integer>80</integer>
		<key>yen</key>
		<integer>-75</integer>
	</dict>
	<key>three.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>yen</key>
		<integer>-35</integer>
	</dict>
	<key>trademark</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_a.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-120</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>yen</key>
		<integer>-70</integer>
	</dict>
	<key>two.lf</key>
	<dict>
		<key>seven.lf</key>
		<integer>-30</integer>
	</dict>
	<key>uni2116</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-35</integer>
	</dict>
	<key>yen</key>
	<dict>
		<key>@MMK_R_five</key>
		<integer>-65</integer>
		<key>@MMK_R_four</key>
		<integer>-80</integer>
		<key>@MMK_R_nine</key>
		<integer>-55</integer>
		<key>@MMK_R_one</key>
		<integer>-60</integer>
		<key>@MMK_R_three</key>
		<integer>-75</integer>
		<key>@MMK_R_two</key>
		<integer>-60</integer>
		<key>eight</key>
		<integer>-40</integer>
		<key>four.lf</key>
		<integer>-60</integer>
		<key>seven</key>
		<integer>-30</integer>
		<key>six.lf</key>
		<integer>-15</integer>
		<key>three.lf</key>
		<integer>-15</integer>
		<key>zero</key>
		<integer>-80</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>yen</key>
		<integer>-80</integer>
	</dict>
	<key>zero.lf</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>eight.lf</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
