<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-35</integer>
		<key>@MMK_R_V</key>
		<integer>-160</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-75</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-45</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_A.sc</key>
	<dict>
		<key>@MMK_R_C.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_U.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_C.sc</key>
	<dict>
		<key>@MMK_R_C.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-95</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_D.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_Y.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-10</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_eth</key>
		<integer>-30</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-40</integer>
		<key>@MMK_R_m</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_F.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>-45</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_Gamma</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-55</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L.sc</key>
	<dict>
		<key>@MMK_R_T.sc</key>
		<integer>-75</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_Y.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_eth</key>
		<integer>-20</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-10</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-120</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-120</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_C</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-115</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_R.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>30</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>30</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-40</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_Y.sc</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-60</integer>
		<key>@MMK_R_B.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-135</integer>
		<key>@MMK_R_U.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_a</key>
		<integer>-105</integer>
		<key>@MMK_R_aacute</key>
		<integer>-95</integer>
		<key>@MMK_R_abreve</key>
		<integer>-10</integer>
		<key>@MMK_R_acircumflex</key>
		<integer>-25</integer>
		<key>@MMK_R_aring</key>
		<integer>-25</integer>
		<key>@MMK_R_atilde</key>
		<integer>-10</integer>
		<key>@MMK_R_cacute</key>
		<integer>-105</integer>
		<key>@MMK_R_ccaron</key>
		<integer>-49</integer>
		<key>@MMK_R_ccircumflex</key>
		<integer>-59</integer>
		<key>@MMK_R_cdotaccent</key>
		<integer>-105</integer>
		<key>@MMK_R_colon</key>
		<integer>-75</integer>
		<key>@MMK_R_comma</key>
		<integer>-75</integer>
		<key>@MMK_R_eacute</key>
		<integer>-105</integer>
		<key>@MMK_R_ebreve</key>
		<integer>-30</integer>
		<key>@MMK_R_ecaron</key>
		<integer>-30</integer>
		<key>@MMK_R_ecircumflex</key>
		<integer>-40</integer>
		<key>@MMK_R_edieresis</key>
		<integer>-10</integer>
		<key>@MMK_R_edotaccent</key>
		<integer>-90</integer>
		<key>@MMK_R_egrave</key>
		<integer>-10</integer>
		<key>@MMK_R_emacron</key>
		<integer>-10</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_gbreve</key>
		<integer>-25</integer>
		<key>@MMK_R_gcaron</key>
		<integer>-25</integer>
		<key>@MMK_R_gcircumflex</key>
		<integer>-35</integer>
		<key>@MMK_R_gdotaccent</key>
		<integer>-85</integer>
		<key>@MMK_R_iacute</key>
		<integer>-45</integer>
		<key>@MMK_R_ibreve</key>
		<integer>50</integer>
		<key>@MMK_R_icircumflex</key>
		<integer>35</integer>
		<key>@MMK_R_idieresis</key>
		<integer>65</integer>
		<key>@MMK_R_igrave</key>
		<integer>65</integer>
		<key>@MMK_R_imacron</key>
		<integer>60</integer>
		<key>@MMK_R_itilde</key>
		<integer>40</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-90</integer>
		<key>@MMK_R_jcircumflex</key>
		<integer>50</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_nacute</key>
		<integer>-90</integer>
		<key>@MMK_R_ncaron</key>
		<integer>-77</integer>
		<key>@MMK_R_ntilde</key>
		<integer>-77</integer>
		<key>@MMK_R_o</key>
		<integer>-105</integer>
		<key>@MMK_R_oacute</key>
		<integer>-105</integer>
		<key>@MMK_R_obreve</key>
		<integer>-65</integer>
		<key>@MMK_R_ocircumflex</key>
		<integer>-75</integer>
		<key>@MMK_R_odieresis</key>
		<integer>-45</integer>
		<key>@MMK_R_ograve</key>
		<integer>-45</integer>
		<key>@MMK_R_ohungarumlaut</key>
		<integer>-90</integer>
		<key>@MMK_R_omacron</key>
		<integer>-45</integer>
		<key>@MMK_R_otilde</key>
		<integer>-65</integer>
		<key>@MMK_R_racute</key>
		<integer>-90</integer>
		<key>@MMK_R_rcaron</key>
		<integer>-10</integer>
		<key>@MMK_R_sacute</key>
		<integer>-90</integer>
		<key>@MMK_R_scircumflex</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_uacute</key>
		<integer>-90</integer>
		<key>@MMK_R_ubreve</key>
		<integer>-70</integer>
		<key>@MMK_R_ucircumflex</key>
		<integer>-80</integer>
		<key>@MMK_R_udieresis</key>
		<integer>-50</integer>
		<key>@MMK_R_ugrave</key>
		<integer>-50</integer>
		<key>@MMK_R_uhungarumlaut</key>
		<integer>-90</integer>
		<key>@MMK_R_umacron</key>
		<integer>-50</integer>
		<key>@MMK_R_uni0123</key>
		<integer>-50</integer>
		<key>@MMK_R_uni01D0</key>
		<integer>40</integer>
		<key>@MMK_R_uni01D2</key>
		<integer>-65</integer>
		<key>@MMK_R_uni01D4</key>
		<integer>-70</integer>
		<key>@MMK_R_uni01F5</key>
		<integer>-5</integer>
		<key>@MMK_R_uni01F9</key>
		<integer>-85</integer>
		<key>@MMK_R_uni0227</key>
		<integer>-60</integer>
		<key>@MMK_R_uni022F</key>
		<integer>-105</integer>
		<key>@MMK_R_uni0233</key>
		<integer>-33</integer>
		<key>@MMK_R_uni1E21</key>
		<integer>-5</integer>
		<key>@MMK_R_uni1E45</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E55</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E57</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E59</key>
		<integer>-65</integer>
		<key>@MMK_R_uni1E61</key>
		<integer>-55</integer>
		<key>@MMK_R_uni1E6B</key>
		<integer>-20</integer>
		<key>@MMK_R_uni1E7D</key>
		<integer>-37</integer>
		<key>@MMK_R_uni1E8B</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E8D</key>
		<integer>-34</integer>
		<key>@MMK_R_uni1E8F</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E91</key>
		<integer>-30</integer>
		<key>@MMK_R_uni1E99</key>
		<integer>-73</integer>
		<key>@MMK_R_uni1EA3</key>
		<integer>-20</integer>
		<key>@MMK_R_uni1EA5</key>
		<integer>-25</integer>
		<key>@MMK_R_uni1EA7</key>
		<integer>35</integer>
		<key>@MMK_R_uni1EBB</key>
		<integer>-40</integer>
		<key>@MMK_R_uni1EBD</key>
		<integer>-30</integer>
		<key>@MMK_R_uni1EC1</key>
		<integer>35</integer>
		<key>@MMK_R_uni1ECF</key>
		<integer>-75</integer>
		<key>@MMK_R_uni1ED3</key>
		<integer>20</integer>
		<key>@MMK_R_uni1ED7</key>
		<integer>-10</integer>
		<key>@MMK_R_uni1EE7</key>
		<integer>-80</integer>
		<key>@MMK_R_uni1EF9</key>
		<integer>-53</integer>
		<key>@MMK_R_uring</key>
		<integer>-90</integer>
		<key>@MMK_R_utilde</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_ycircumflex</key>
		<integer>-43</integer>
		<key>@MMK_R_ydieresis</key>
		<integer>-33</integer>
		<key>@MMK_R_ygrave</key>
		<integer>-33</integer>
		<key>@MMK_R_zacute</key>
		<integer>-95</integer>
		<key>@MMK_R_zcaron</key>
		<integer>-20</integer>
		<key>@MMK_R_zdotaccent</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_T.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-30</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-15</integer>
		<key>@MMK_R_comma</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_Tau</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_U.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>-10</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Upsilontonos</key>
	<dict>
		<key>@MMK_R_mu</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-130</integer>
		<key>@MMK_R_B.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_C</key>
		<integer>-70</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_U.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-80</integer>
		<key>@MMK_R_X.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_Y.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_aacute</key>
		<integer>-100</integer>
		<key>@MMK_R_acircumflex</key>
		<integer>-60</integer>
		<key>@MMK_R_adieresis</key>
		<integer>-20</integer>
		<key>@MMK_R_amacron</key>
		<integer>-65</integer>
		<key>@MMK_R_aring</key>
		<integer>-45</integer>
		<key>@MMK_R_atilde</key>
		<integer>-70</integer>
		<key>@MMK_R_cacute</key>
		<integer>-100</integer>
		<key>@MMK_R_ccaron</key>
		<integer>-44</integer>
		<key>@MMK_R_ccircumflex</key>
		<integer>-100</integer>
		<key>@MMK_R_cdotaccent</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_eacute</key>
		<integer>-100</integer>
		<key>@MMK_R_ebreve</key>
		<integer>-30</integer>
		<key>@MMK_R_ecaron</key>
		<integer>-25</integer>
		<key>@MMK_R_ecircumflex</key>
		<integer>-80</integer>
		<key>@MMK_R_edieresis</key>
		<integer>-40</integer>
		<key>@MMK_R_edotaccent</key>
		<integer>-100</integer>
		<key>@MMK_R_emacron</key>
		<integer>-75</integer>
		<key>@MMK_R_eth</key>
		<integer>-25</integer>
		<key>@MMK_R_gbreve</key>
		<integer>-25</integer>
		<key>@MMK_R_gcaron</key>
		<integer>-20</integer>
		<key>@MMK_R_gcircumflex</key>
		<integer>-75</integer>
		<key>@MMK_R_gdotaccent</key>
		<integer>-100</integer>
		<key>@MMK_R_iacute</key>
		<integer>-55</integer>
		<key>@MMK_R_ibreve</key>
		<integer>50</integer>
		<key>@MMK_R_idieresis</key>
		<integer>25</integer>
		<key>@MMK_R_igrave</key>
		<integer>65</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-90</integer>
		<key>@MMK_R_m</key>
		<integer>-90</integer>
		<key>@MMK_R_nacute</key>
		<integer>-90</integer>
		<key>@MMK_R_ncaron</key>
		<integer>-72</integer>
		<key>@MMK_R_ntilde</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_oacute</key>
		<integer>-100</integer>
		<key>@MMK_R_obreve</key>
		<integer>-65</integer>
		<key>@MMK_R_ocircumflex</key>
		<integer>-75</integer>
		<key>@MMK_R_odieresis</key>
		<integer>-45</integer>
		<key>@MMK_R_ograve</key>
		<integer>-45</integer>
		<key>@MMK_R_ohungarumlaut</key>
		<integer>-100</integer>
		<key>@MMK_R_omacron</key>
		<integer>-45</integer>
		<key>@MMK_R_otilde</key>
		<integer>-65</integer>
		<key>@MMK_R_racute</key>
		<integer>-90</integer>
		<key>@MMK_R_sacute</key>
		<integer>-100</integer>
		<key>@MMK_R_scircumflex</key>
		<integer>-60</integer>
		<key>@MMK_R_slash</key>
		<integer>-115</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_uacute</key>
		<integer>-90</integer>
		<key>@MMK_R_ubreve</key>
		<integer>-70</integer>
		<key>@MMK_R_ucircumflex</key>
		<integer>-90</integer>
		<key>@MMK_R_udieresis</key>
		<integer>-70</integer>
		<key>@MMK_R_ugrave</key>
		<integer>-35</integer>
		<key>@MMK_R_uhungarumlaut</key>
		<integer>-90</integer>
		<key>@MMK_R_umacron</key>
		<integer>-80</integer>
		<key>@MMK_R_uni0123</key>
		<integer>-65</integer>
		<key>@MMK_R_uni01D0</key>
		<integer>55</integer>
		<key>@MMK_R_uni01D2</key>
		<integer>-65</integer>
		<key>@MMK_R_uni01D4</key>
		<integer>-45</integer>
		<key>@MMK_R_uni01F0</key>
		<integer>70</integer>
		<key>@MMK_R_uni01F5</key>
		<integer>-100</integer>
		<key>@MMK_R_uni01F9</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0227</key>
		<integer>-90</integer>
		<key>@MMK_R_uni022F</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0233</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E21</key>
		<integer>-70</integer>
		<key>@MMK_R_uni1E45</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E55</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E57</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E59</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1E61</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E6B</key>
		<integer>-55</integer>
		<key>@MMK_R_uni1E7D</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E8B</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E8D</key>
		<integer>-64</integer>
		<key>@MMK_R_uni1E8F</key>
		<integer>-100</integer>
		<key>@MMK_R_uni1E91</key>
		<integer>-75</integer>
		<key>@MMK_R_uni1E99</key>
		<integer>-85</integer>
		<key>@MMK_R_uni1EA3</key>
		<integer>-5</integer>
		<key>@MMK_R_uni1EA5</key>
		<integer>-60</integer>
		<key>@MMK_R_uni1EA7</key>
		<integer>40</integer>
		<key>@MMK_R_uni1EBB</key>
		<integer>-25</integer>
		<key>@MMK_R_uni1EBD</key>
		<integer>-90</integer>
		<key>@MMK_R_uni1EC1</key>
		<integer>40</integer>
		<key>@MMK_R_uni1ECF</key>
		<integer>-75</integer>
		<key>@MMK_R_uni1ED3</key>
		<integer>20</integer>
		<key>@MMK_R_uni1ED7</key>
		<integer>-30</integer>
		<key>@MMK_R_uni1EE7</key>
		<integer>-60</integer>
		<key>@MMK_R_uni1EF7</key>
		<integer>-55</integer>
		<key>@MMK_R_uni1EF9</key>
		<integer>-100</integer>
		<key>@MMK_R_uring</key>
		<integer>-90</integer>
		<key>@MMK_R_utilde</key>
		<integer>-90</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_yacute</key>
		<integer>-100</integer>
		<key>@MMK_R_ycircumflex</key>
		<integer>-100</integer>
		<key>@MMK_R_ydieresis</key>
		<integer>-63</integer>
		<key>@MMK_R_ygrave</key>
		<integer>-25</integer>
		<key>@MMK_R_zacute</key>
		<integer>-100</integer>
		<key>@MMK_R_zcaron</key>
		<integer>-15</integer>
		<key>@MMK_R_zdotaccent</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V.sc</key>
	<dict>
		<key>@MMK_R_A.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-25</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-90</integer>
		<key>@MMK_R_B</key>
		<integer>60</integer>
		<key>@MMK_R_B.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_C</key>
		<integer>-25</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-85</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_U.sc</key>
		<integer>-50</integer>
		<key>@MMK_R_V.sc</key>
		<integer>-65</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_eth</key>
		<integer>-5</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-60</integer>
		<key>@MMK_R_m</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-80</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Y.sc</key>
	<dict>
		<key>@MMK_R_C.sc</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-120</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>-45</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-140</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_T.sc</key>
		<integer>-120</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_aacute</key>
		<integer>-25</integer>
		<key>@MMK_R_abreve</key>
		<integer>70</integer>
		<key>@MMK_R_aring</key>
		<integer>70</integer>
		<key>@MMK_R_b</key>
		<integer>70</integer>
		<key>@MMK_R_ccaron</key>
		<integer>70</integer>
		<key>@MMK_R_ebreve</key>
		<integer>70</integer>
		<key>@MMK_R_ecaron</key>
		<integer>70</integer>
		<key>@MMK_R_edieresis</key>
		<integer>70</integer>
		<key>@MMK_R_egrave</key>
		<integer>70</integer>
		<key>@MMK_R_eth</key>
		<integer>70</integer>
		<key>@MMK_R_gbreve</key>
		<integer>70</integer>
		<key>@MMK_R_germandbls</key>
		<integer>70</integer>
		<key>@MMK_R_i</key>
		<integer>70</integer>
		<key>@MMK_R_iacute</key>
		<integer>70</integer>
		<key>@MMK_R_ibreve</key>
		<integer>70</integer>
		<key>@MMK_R_icircumflex</key>
		<integer>70</integer>
		<key>@MMK_R_idieresis</key>
		<integer>70</integer>
		<key>@MMK_R_igrave</key>
		<integer>70</integer>
		<key>@MMK_R_imacron</key>
		<integer>70</integer>
		<key>@MMK_R_itilde</key>
		<integer>70</integer>
		<key>@MMK_R_jcircumflex</key>
		<integer>70</integer>
		<key>@MMK_R_ncaron</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_ograve</key>
		<integer>70</integer>
		<key>@MMK_R_rcaron</key>
		<integer>70</integer>
		<key>@MMK_R_scircumflex</key>
		<integer>20</integer>
		<key>@MMK_R_ugrave</key>
		<integer>70</integer>
		<key>@MMK_R_uni0123</key>
		<integer>15</integer>
		<key>@MMK_R_uni01D2</key>
		<integer>20</integer>
		<key>@MMK_R_uni02BE</key>
		<integer>120</integer>
		<key>@MMK_R_uni1E6B</key>
		<integer>70</integer>
		<key>@MMK_R_uni1E8D</key>
		<integer>20</integer>
		<key>@MMK_R_uni1EA3</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EA5</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EA7</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EBB</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EC1</key>
		<integer>70</integer>
		<key>@MMK_R_uni1ECF</key>
		<integer>70</integer>
		<key>@MMK_R_uni1ED3</key>
		<integer>70</integer>
		<key>@MMK_R_uni1ED7</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EE7</key>
		<integer>70</integer>
		<key>@MMK_R_uni1EF7</key>
		<integer>70</integer>
		<key>@MMK_R_zcaron</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_f._i</key>
	<dict>
		<key>@MMK_R_j.dotless</key>
		<integer>19</integer>
	</dict>
	<key>@MMK_L_f_f.short</key>
	<dict>
		<key>@MMK_R_adieresis</key>
		<integer>-10</integer>
		<key>@MMK_R_iacute</key>
		<integer>16</integer>
		<key>@MMK_R_igrave</key>
		<integer>60</integer>
		<key>@MMK_R_uni01D0</key>
		<integer>60</integer>
		<key>@MMK_R_uni01F0</key>
		<integer>75</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-16</integer>
		<key>@MMK_R_y</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_longs</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>165</integer>
		<key>@MMK_R_exclam</key>
		<integer>135</integer>
		<key>@MMK_R_parenright</key>
		<integer>195</integer>
		<key>@MMK_R_question</key>
		<integer>140</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>160</integer>
		<key>@MMK_R_quoteright</key>
		<integer>165</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_A.sc</key>
		<integer>-120</integer>
		<key>@MMK_R_Agrave.sc</key>
		<integer>-120</integer>
		<key>@MMK_R_C.sc</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_j.dotless</key>
		<integer>-30</integer>
		<key>@MMK_R_m</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_five</key>
		<integer>-95</integer>
		<key>@MMK_R_four</key>
		<integer>-115</integer>
		<key>@MMK_R_nine</key>
		<integer>-50</integer>
		<key>@MMK_R_one</key>
		<integer>-10</integer>
		<key>@MMK_R_three</key>
		<integer>-40</integer>
		<key>@MMK_R_two</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_uni0283</key>
	<dict>
		<key>@MMK_R_abreve</key>
		<integer>80</integer>
		<key>@MMK_R_aring</key>
		<integer>80</integer>
		<key>@MMK_R_b</key>
		<integer>80</integer>
		<key>@MMK_R_ccaron</key>
		<integer>80</integer>
		<key>@MMK_R_ebreve</key>
		<integer>80</integer>
		<key>@MMK_R_ecaron</key>
		<integer>80</integer>
		<key>@MMK_R_edieresis</key>
		<integer>80</integer>
		<key>@MMK_R_egrave</key>
		<integer>80</integer>
		<key>@MMK_R_eth</key>
		<integer>80</integer>
		<key>@MMK_R_gbreve</key>
		<integer>80</integer>
		<key>@MMK_R_germandbls</key>
		<integer>80</integer>
		<key>@MMK_R_i</key>
		<integer>55</integer>
		<key>@MMK_R_iacute</key>
		<integer>80</integer>
		<key>@MMK_R_ibreve</key>
		<integer>80</integer>
		<key>@MMK_R_icircumflex</key>
		<integer>80</integer>
		<key>@MMK_R_idieresis</key>
		<integer>80</integer>
		<key>@MMK_R_igrave</key>
		<integer>80</integer>
		<key>@MMK_R_imacron</key>
		<integer>80</integer>
		<key>@MMK_R_itilde</key>
		<integer>80</integer>
		<key>@MMK_R_jcircumflex</key>
		<integer>80</integer>
		<key>@MMK_R_ograve</key>
		<integer>80</integer>
		<key>@MMK_R_rcaron</key>
		<integer>80</integer>
		<key>@MMK_R_scircumflex</key>
		<integer>80</integer>
		<key>@MMK_R_ugrave</key>
		<integer>80</integer>
		<key>@MMK_R_uni1E6B</key>
		<integer>80</integer>
		<key>@MMK_R_uni1E8D</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EA3</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EA5</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EA7</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EBB</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EC1</key>
		<integer>80</integer>
		<key>@MMK_R_uni1ECF</key>
		<integer>80</integer>
		<key>@MMK_R_uni1ED3</key>
		<integer>80</integer>
		<key>@MMK_R_uni1ED7</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EE7</key>
		<integer>80</integer>
		<key>@MMK_R_uni1EF7</key>
		<integer>80</integer>
		<key>@MMK_R_zcaron</key>
		<integer>80</integer>
	</dict>
	<key>@MMK_L_uni02BE</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_uni0413</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-140</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-105</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-115</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-70</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-115</integer>
	</dict>
	<key>@MMK_L_uni0422</key>
	<dict>
		<key>@MMK_R_uni0430</key>
		<integer>-125</integer>
		<key>@MMK_R_uni0432</key>
		<integer>-95</integer>
		<key>@MMK_R_uni0434</key>
		<integer>-135</integer>
		<key>@MMK_R_uni0436</key>
		<integer>-100</integer>
		<key>@MMK_R_uni0442</key>
		<integer>-130</integer>
		<key>@MMK_R_uni0443</key>
		<integer>-110</integer>
		<key>@MMK_R_uni0444</key>
		<integer>-65</integer>
		<key>@MMK_R_uni0447</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_uni1E9D.short</key>
	<dict>
		<key>@MMK_R_asterisk</key>
		<integer>125</integer>
		<key>@MMK_R_exclam</key>
		<integer>95</integer>
		<key>@MMK_R_parenright</key>
		<integer>150</integer>
		<key>@MMK_R_question</key>
		<integer>90</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>110</integer>
		<key>@MMK_R_quoteright</key>
		<integer>115</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_eth</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>j</key>
		<integer>25</integer>
	</dict>
</dict>
</plist>
